body {
    font-family: sans-serif;
}

h1 {
    text-align: center;
    font-size: 36px;
}

nav a {
    color: black;
    font-size: 20px;
    padding: 30px;
}

nav {
    margin-top: 15px;
    margin-right: 0px;
    margin-bottom: 25px;
    text-align: center;
}

p img {
    margin: 30px;
    border-left: 10px dotted black;
    padding-left: 5px;
}

.pm {
    text-align: center;
}

.sp {
    border: 2px solid black;
    padding: 5px;
    border-radius: 20px;
    font-size: 22px;
}

footer {
    background-color: black;
    padding: 5px;
}

footer p {
    background-color: white;
    margin: 5px;
    font-size: 22px;
}
